body {
	margin: 0%;
	background: silver; 
}
button {
	background-color: white;
	margin:right;
	color: orange;
	font-size: 30px;
	padding: 30px;
	border-width: 10px;
	border-color: #8FBC8F;
}

.column {
	font-size:30px;
	padding: 30px;
	margin:center;
}

.inspo {
	font-family: "Georgia", Times, serif;
	color: white;
	font-style: oblique;
	float:right;
	margin-top: 200px;
	margin-right: 400px;
	font-size: 50px;
}

.homepage{
	 float: right;
  	width: 151px;
  	padding: 10px;
  	margin-top: 280px;	
  	margin-right: 2px;
	<!--margin-top:-55px;-->
	font-size: 17px;
	border:1px solid grey;
}
.button_container {
	bottom:10px;
	right:30px;
	width:200px;
	padding: 0px;
	margin-left: 0px;
}
.logo {
	width: 300px;
}
.topNav {
background-color: #006400;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.topNav input[type=text] {
  margin-top:-10px;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.topNav button {
  float: right;
  width: 140px;
  padding: 10px;
  margin-right: 10px;
  margin-top: -10px;
  background: black;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.topNav button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.topNav::after {
  content: "";
  clear: both;
  display: table;
}